<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Hospital</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="resource/js/angular_v1.6.0.js"></script>
	<script type="text/javascript" src="resource/js/admin.js"></script>
	<link rel="stylesheet" type="text/css" href="Resources/Styles/slot.css">
</head>
<body >
	<div ng-include="'allheader.html'"> </div>
	
	<main>

		<div class="homeDescriptionContainer">
			<h3>Manage Appointment slots </h3>

			<form name="slot" ng-controller="AdminController"  ng-submit="updateSlot()">

				Select Doctor <select ng-model="selectDoctor">
					<option value="--Required--">--Required--</option>
					<option value="Andrew Roy">Andrew Roy</option>
					<option value="Dale Martis">Dale Martis</option>
					<option value="Bella Weasley">Bella Weasley</option>
					<option value="Jack Gran">Jack Gran</option>
					<option value="Harry Shaw">Harry Shaw</option>
					<option value="Jeff Davis">Jeff Davis</option>
					<option value="Garry Smith">Garry Smith</option>
					<option value="Alyssa Johnson">Alyssa Johnson</option>
					<option value="Trey Miller">Trey Miller</option>
					<option value="Sweety Wilson">Sweety Wilson</option>
				</select> <br><br>	
								
				Date<input type="date" ng-model="Appointment_Date" placeholder="yyyy-MM-dd" min="2019-11-01" max="2019-12-31" required><br><br>
				<b>Slot timings</b><br>
				 <label><input type="radio" ng-model="slot" value="10:00"> 10:00 - 11:00</label>
				 <label><input type="radio" ng-model="slot" value="11:00"> 11:00 - 12:00</label>
                 <label><input type="radio" ng-model="slot" value="12:00"> 12:00 - 13:00</label>
                 <label><input type="radio" ng-model="slot" value="14:00"> 14:00 - 15:00</label>
                 <label><input type="radio" ng-model="slot" value="15:00"> 15:00 - 16:00</label>
                 <label><input type="radio" ng-model="slot" value="16:00"> 16:00 - 17:00</label><br>
				  
				<button type="submit">Update slot</button>
				<span style="color: green">{{message}}</span>				
			</form>
		</div>
	</main>
	<div ng-include="'footer.html'"> </div>
</body>
</html>