.header{
    background-color: #ffffff;
    height: 90px;  
}

.header img {
    float: left;
    width: 90px;
    height: 90px;
    margin-top: 5px;
    margin-left: 450px;
}

.header h1 {
    color: #A6B436;
    padding-top:20px;
    padding-bottom: 10px;
    position: relative;
    font-family: Aleo Regular,Palatino Linotype,Palatino;
}
.logout {    
   
     padding: 10px 9px;     
     background-color: #ffffff;
}
    
 .logout a{
       
     color: #003366;
     font-size: 16px;
     text-decoration: underline;
	 padding-left: 1450px;
	 text-align: right;
}     

body{   
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-top: auto;
    background-color:white ;
}

.homeDescriptionContainer {
    
    height: 400px;
    display: block;
    margin-left:10px;margin-top:5px;
    font-family:Aleo Regular,Palatino Linotype,Palatino;
    float: left;
    font-size: 16px;
}

#welcome{
    
    text-align: left;
    color: green;
    padding-left: 10px;
}

button {
   
    margin-top: 10px;
	padding: 10px;
    width: 70%;
    border-radius: 1px;
    font-size: 16px;
	font-weight: bold;
    color: black;
    background-color: lightseagreen;
}


            
